body{
    font-family: lato;
}
.navbar-fixed-top{
    position:fixed;
    background-color:transparent;
    width:1024px;
    height:70px;
    font-family: "adelle";
}
.research-collab-header{
    font-size: 20px;
    font-family: "adelle";
    font-weight: bold;
    font-style: italic;
    padding-left: 9px;
}
.fcl-image{
    height:43px;
    width:197px;
    position:fixed;
    top:15px;
    right:9px;
}
.cival{
    font-size:12px;
    position:fixed;
    top:66px;
    right:9px;
}
.navbar{
    padding-top: 40px;
}
.main-menu{
    margin-top: auto;
    margin-top: 3%;
    margin-left: 5px;
    width: 260px;
    height: 100%;
    padding-bottom: 8px;
    background-color: rgba(243,245,247,0.8);
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
}
ul{
    margin-left: -40px;
}
.ui-slider-handle:focus{
    outline: 0 none !important;
    border-color: lightgray;
}
.ui-slider-handle{
    border-color: lightgray;
}
.ui-slider-label{
    color: black;
    font-size: 9px;
    margin-top : -10px;
}
.ui-slider-horizontal{
    height:5px;
}
#slider-range{
    width:216px;
    margin-left:10px;
}
.ui-slider-line{
    margin-top:-10px;
}
#slider-range .ui-slider-handle,
#slider-range .ui-slider-range,
#slider-range .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
#slider-range .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    background-color: black;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 29px;
    height: 18.5px;
    bottom: -8px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 90%;
    height: 90%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 1.5px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input#data_sharing:checked + .slider{
    background-color: #4DB6AC;
}

input#expertise_contribution:checked + .slider{
    background-color: #FC8D62;
}

input#granted_research_proposal:checked + .slider{
    background-color: #5C6BC0;
}

input#joint_publication:checked + .slider{
    background-color: #FF80AB;
}

input#joint_prototype:checked + .slider{
    background-color: #9CCC65;
}

input#other:checked + .slider{
    background-color: #FFCA28;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 21px;
}

.slider.round:before {
    border-radius: 50%;
}
li{
    list-style : none;
}
td{
    font: 12px lato;
}
.project_outcomes_label{
    padding-top : 6.5px;
    padding-left: 7px;
}
hr{
    box-sizing: border-box;
    width: 240px;
    height: 2px;
    border: 1px solid #C8C8C8;
    margin : 4px;
    margin-left: -27px;
}
.menu{
    font: 12px adelle;
}
.side-menu{
    display: inline-block;
    background-color: rgba(243,245,247,0.8);
    box-shadow: -1px 2px 4px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    padding-left: 8px;
    padding-top : 18px;
    padding-right: 25px;
    padding-bottom: 10px;
    margin-left: 265px;
    position: absolute;
    top: 98px;
    left: 10px;
    display : none;
    z-index: 2;
}
button{
    background-color: white;
    font: 12px lato;
    border: none;
    display: inline-block;
    text-align: left;
    border: 1px solid #C8C8C8;
    border-radius: 3px;
    white-space: nowrap;
    margin : 1px;
}
button:focus{
    outline: 0;
}
.nav-item{
    margin-left: -25px;
}
tag{
    background-color: #4A4A4A;
    color: white;
    font: 12px lato;
    border: none;
    display: inline-block;
    text-align: left;
    border: 1px solid #C8C8C8;
    border-radius: 3px;
    white-space: nowrap;
    margin : 2px;
    margin-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
#disciplines, #fcl_project, #location, #language{
    cursor: pointer;
}
.glyphicon-menu-down, .glyphicon-menu-up{
    box-sizing: border-box;
    width: 16.52px;
    height: 8.28px;
}
#map{
    position:absolute;
}
.glyphicon-menu-left {
    cursor: pointer;
    background-color: rgba(243, 245, 247, 0.8);
    padding-top: 9px;
    top: 100px;
    height: 30px;
    width: 15px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    position: absolute;
    left: 270px;
    z-index: 2;
}

.glyphicon-list{
    background-color: rgba(243,245,247,0.8);
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    color: black;
    top: 17.5%;
    position: absolute;
    width: 30px;
    height: 30px;
    display: none;
    z-index:2;
}
#nav-bottom{
    text-align: center;
    left : 9px;
    position:fixed;
    bottom : 14px;
    background-color: rgba(243,245,247,0.8);
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
}